@import "variables";
//*===========<order>=================================================================================================================================================================
.order {
    padding: 0px 0px 40px 0px;
    @media (max-width: $sm) {
        padding: 0px 0px 25px 0px;
    }
    &__container {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0px 0px 11px 0px;
    }
}
