@import "null";
//*===========<wrapper>================================================================================================================================================================
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//*===========<fonts>================================================================================================================================================================
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Russo+One:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700,800,italic&display=swap);
//*===========<variables>================================================================================================================================================================
@import "variables";
//*===========<reusable>================================================================================================================================================================
@import "reusable";
//*===========<swiper>================================================================================================================================================================
@import "swiper";
@import "effect-cards";
@import "pagination";
//*===========<body>================================================================================================================================================================
body {
  font-family: "Russo One";
  font-size: 16px;
  color: $wh;
  background-color: #2d2d2d;
  &.lock {
    overflow: hidden;
  }
}
//*===========<container>================================================================================================================================================================
.container {
  max-width: $ct;
  margin: 0 auto;
  padding: 0 10px;
  &_big {
    max-width: 1160px;
  }
}
//*===========<header>================================================================================================================================================================
@import "header";
//*===========<main>================================================================================================================================================================
.main {
  flex: 1 1 auto;
}
//===========<popup>=================================================================================================================================================================
@import "popup";
//===========<price>=================================================================================================================================================================
@import "price";
//===========<advantages>=================================================================================================================================================================
@import "advantages";
//===========<choice>=================================================================================================================================================================
@import "choice";
//===========<reviews>=================================================================================================================================================================
@import "reviews";
//===========<answers>=================================================================================================================================================================
@import "answers";
//===========<ask>=================================================================================================================================================================
@import "ask";
//===========<partners>=================================================================================================================================================================
@import "partners";
//===========<order>=================================================================================================================================================================
@import "order";

//*===========<footer>================================================================================================================================================================
@import "footer";
