//*===========<viewport>================================================================================================================================================================
$ct: 1100px;
$elg: 1200px;
$lg: 992px;
$md: 767px;
$sm: 479px;

//*===========<colors>================================================================================================================================================================
$wh: #f1f1f1;
$bl: #2194ff;
$mirage: #1b2639;
